table
  border-collapse: collapse
  border-spacing: 0
  table-layout: fixed
  width: 100%

tr, td, th
  vertical-align: middle
  padding: 1rem

td, th
  border: $base-border
  padding: $small-spacing
  //word-break: normal
  //white-space: pre-wrap

th
  font-size: $h6-font-size
  line-height: $heading-line-height

td
  line-height: $base-line-height
